<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" >
    <title>Document</title>
</head>
<body>
    <header>
       <h1>
        Company Team Profile
        </h1> 
    </header>
    <main>
        <div class="team-profile">
            <div class="card">
                
                <div class="container">
                  <h4><b>MANAGERS</b></h4>
                  <p>{{MANAGERS}}</p>
                </div>
              </div>

              <div class="card">
                
                <div class="container">
                  <h4><b>INTERNS</b></h4>
                  <p>{{INTERNS}}</p>
                </div>
              </div>

              <div class="card">
                
                <div class="container">
                  <h4><b>ENGINEERS</b></h4>
                  <p>{{ENGINEERS}}</p>
                </div>
              </div>

            
            
            
            
            
        
        
        </div>




    </main>
</body>
</html>
